/Categorias-Service/node_modules
/Contactos-Service/node_modules
/Usuario-Service/node_modules
/api-gateway/node_modules
/api-gateway/.env
/Categorias-Service/.env
/Contactos-Service/.env
/Usuario-Service/.env
/agenda-contactos-frontend/.vscode
/agenda-contactos-frontend/node_modules
/agenda-contactos-frontend/README.md
/agenda-contactos-frontend/.angular
/agenda-contactos-frontend/.gitignore
